<div>
  <%= bootstrap_form_for @textbook do |f| %>
    <%= f.text_field :title %></br>

    <%= f.number_field :price %></br>

    <% if @course.present? %>
       <%= f.hidden_field :course_ids, value: @course.id %>
    <% else %>
      <%= f.collection_check_boxes :course_ids, @courses, :id, :name, label: "Select course to adopt textbook:" %></br>

      <%= f.fields_for :courses_attributes do |courses_fields| %>
        <%= courses_fields.label "Create new course to adopt textbook:" %></br>
        <%= courses_fields.text_field :name %></br>
        <%= courses_fields.number_field :enrollment %></br>
      <% end %>
    <% end %>
    
    <%= f.submit %>
  <% end %>
</div>

<script id="textbook-template" type="text/x-handlebars-template">
    <h1>{{title}}</h1>

    <h3><a href="/textbooks/{{id}}/edit">Edit textbook</a></h3>

    <p>Unit cost: ${{price}}</p>
    <p>{{inventory}} units on hand. | $0 total cost.</p>

    <ul id="textbook-courses">
    </ul> 

    <a rel="nofollow" data-method="delete" href="/textbooks/{{id}}">Delete textbook</a>
</script>

<script id="textbook-course-template" type="text/x-handlebars-template">
  <li id='course_id_{{id}}'><a href="/courses/{{id}}">{{name}}</a> | {{enrollment}} students
  </li>
</script>

<script id="order-template" type="text/x-handlebars-template">
  <form class="button_to" method="post" action="/adoptions/order_textbook?adoption_id={{id}}">
  <input type="submit" value="Order Textbooks">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
  </script>