<div>
  <%= bootstrap_form_for @textbook do |f| %>
    <%= f.text_field :title %></br>

    <%= f.number_field :price %></br>

    <%= f.collection_check_boxes :course_ids, @courses, :id, :name, label: "Select course to adopt textbook:" %></br>

    <%= f.fields_for :courses_attributes do |courses_fields| %>
      <%= courses_fields.label "Create new course to adopt textbook:" %></br>
      <%= courses_fields.text_field :name %></br>
      <%= courses_fields.number_field :enrollment %></br>
    <% end %>
    
    <%= f.submit %>
  <% end %>
</div>