<h1><%= @textbook.title %></h1>

<%= link_to "Edit textbook", edit_textbook_path(@textbook) %>

<p>Unit cost: $<%= @textbook.price %></p>
<p><%= @textbook.inventory %> units on hand. | $<%= @textbook.inventory_cost %> total cost.</p>

<% if @textbook.adoptions.length > 0 %>
  <%= render :partial => "adoptions_for_textbook", :collection => @textbook.adoptions, as: :adoption %>
<% else %>
  <%= "No adoptions created" %>
<% end %>