<h1><%= @textbook.title %></h1>

<h3><%= link_to "Edit textbook", edit_textbook_path(@textbook) %></h3>

<p>Unit cost: $<%= @textbook.price %></p>
<p><%= @textbook.inventory %> units on hand. | $<%= @textbook.inventory_cost %> total cost.</p>

<%= (render :partial => "adoptions_for_textbook", :collection => @textbook.adoptions, as: :adoption) || "No adoptions created" %></br>

<%= link_to 'Delete textbook', textbook_path(@textbook), :method => "delete" %>