<h1>Welcome to Better Text</h1>
<div>
  <h2><%= link_to "View textbooks", textbooks_path, {:class => "textbooks"} %></h2>
  <div id="textbooks"></div>
  <h2><%= link_to "Add a new textbook", new_textbook_path %></h2>
  <h2><%= link_to "View courses", courses_path %>
  <div id="courses"></div>
  <h2><%= link_to "Add a new course", new_course_path %></h2>
  <h2><%= link_to 'View reports', reports_index_path %></h2>
  <div id="reports"></div>
</div>