<h1>Welcome to Better Text</h1>
<div>
  <h2><%= link_to "Order textbooks", textbooks_path %></h2>
  <h2><%= link_to "Add a new textbook", new_textbook_path %></h2>
  <h2><%= link_to "View courses", courses_path %>
  <h2><%= link_to "Add a new course", new_course_path %></h2>
  <h3><%= render 'layouts/user_nav_links' %></h3>
</div>