<h1><%= @course.name %></h1>

<h3><%= link_to "Edit course", edit_course_path(@course) %></h3>

<p>Students enrolled: <%= @course.enrollment %>

<% if @course.adoptions.length > 0 %>
  <%= render :partial => "adoptions_for_course", :collection => @course.adoptions, as: :adoption %>
<% else %>
  <%= "No adoptions created" %>  
<% end %>

<h3>Total textbook cost for student: $<%= @course.total_cost_to_student %></h3>

<%= link_to 'Delete course', course_path(@course, :method => 'delete') %>