<h1><%= @course.name %></h1>

<h3><%= link_to "Edit course", edit_course_path(@course) %> | <%= link_to 'Add new textbook', new_course_textbook_path(@course) %></h3>

<p>Students enrolled: <%= @course.enrollment %></p>

<% if @course.textbooks.length > 0 %>
  <%= render :partial => "adoptions_for_course", :collection => @course.textbooks, as: :textbook, :locals => { :course => @course} %>
<% else %>
  <%= "No adoptions created" %>  
<% end %>

<h3>Total textbook cost for student: $<%= @course.total_cost_to_student %></h3>

<%= link_to 'Delete course', course_path(@course), :method => 'delete' %>