<!DOCTYPE html>
<html>
  <head>
    <title>BetterText</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Better-Text", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>

            <%= render 'layouts/user_nav_links' %>

            <li><%= link_to "Textbooks", textbooks_path %></li>
            <li><%= link_to "Courses", courses_path %></li>
            <li><%= link_to "Reports", reports_index_path %></li> 
          </ul>
        </nav>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="d-container" id="main">
    <%= yield %>
    </div>
  </body>
</html>
